<div id="schema-layout" class="container">
  <div class="row">
    <div class="col-md-2">
     <%= link_to "Back", {controller: "home"}, class: "btn btn-default", id: "back" %>
      <!-- <a href="#" id="back" class="btn btn-default">&laquo; Back</a> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="listg-group">
        <li class="list-group-item">
          <%= image_tag("layout1.png", :class => 'img-responsive pull-left') %>
          <a href="<%= url_for controller: 'schema', action: 'activate' %>" class="<%= (checkSelectedTheme(1))? "btn btn-primary pull-right activated" : "btn btn-primary pull-right" %>">Activate Theme 1</a>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
          <%= image_tag("layout2.png", :class => 'img-responsive pull-left') %>
          <a href="<%= url_for controller: 'schema', action: 'activate' %>" class="<%= (checkSelectedTheme(2))? "btn btn-primary pull-right activated" : "btn btn-primary pull-right" %>">Activate Theme 2</a>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
          <%= image_tag("layout3.png", :class => 'img-responsive pull-left') %>
         <a href="<%= url_for controller: 'schema', action: 'activate' %>" class="<%= (checkSelectedTheme(3))? "btn btn-primary pull-right activated" : "btn btn-primary pull-right" %>">Activate Theme 3</a>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
</div>