.url {
    background: #000;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.activated{
	padding: 10px;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
}
.style1,.style2,.style3{
	padding: 10px;
	color: #fff;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}
.style1{ background: #000;}
.style1 a[target="shopperapproved"],.style2 a[target="shopperapproved"],.style3 a[target="shopperapproved"]{
	color: #fff;
}
.style2{ background: #3498db;}
.style3{ background: #d35400;}