<% content_for :javascript do %>
<script type="text/javascript">
ShopifyApp.ready(function(){
ShopifyApp.Bar.initialize({
title: "Home",
icon: "<%= asset_path('favicon.ico') %>"
});
});
</script>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <center><%= image_tag('salogo.png', :class => 'logo') %></center>
      <br>
    </div>
  </div>
  <% if !@domainCheck %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- START GENERATE FORM -->
      <%= form_for(:home,:url => {:action => 'create'}) do |f| %>
      <p>
        <div class="input-group">
          <%= f.text_field(:name,:placeholder => "4115035", :class => 'form-control humongous-form', :required => 'required') %>
          <%= f.hidden_field(:domain, :value => session[:shopify_domain]) %>
          <span class="input-group-btn">
            <%= submit_tag "GENERATE REVIEWS", :id => "submit", :name => "submit", :class => "btn btn-primary humongous-btn" %>
          </span>
        </div>
        <br>
        <div class="alert alert-info" role="alert">
          <p class="text-center">Add your Shopper Approved Site ID and click <strong>GENERATE REVIEWS</strong> button to add a review pop-up form on checkout page.</p>
        </div>
        
      </p>
      <% end %>
      <!-- END GENERATE FORM -->
    </div>
  </div>
  <div class="row">
   <div class="col-md-4 col-md-offset-4">
      <a href="#" class="btn btn-success btn-lg"> How To Get Shopper Approved ID? </a>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-success" role="alert"> Now you have successfully added the review form on your checkout page. 
        <% if @scripts.count == 1 %>
        How about <strong>Activate Schema</strong> in footer section?
        <% end %> <!--END CHECKING COUNT SCRIPTolous-->
      </div>
      <% end %>
 
      <!-- If there are scripts loaded -->
      <% if @scripts.count > 0 %>
      <div class="wells">

      <% if @scripts.count == 1%>
        <%= script_type(@scripts[0].id)  %>
      <% else %>
       <% if @scripts.count <=2 %>
        <%= script(@scripts[0].id,"") %>
        <%= script(@scripts[1].id," .. ") %>
       <% else %>
          <%= script(@scripts[0].id,"") %>
          <%= script(@scripts[2].id," .. ") %>
       <% end %>
        
      <% end %>
      </div>
    </div>
  </div>
  
  <% end %>
</div>