@import url("https://fonts.googleapis.com/css?family=OpenSans");
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #schema-layout .btn{
    margin-top:6px;
  }
  #back {
    margin-left: 84%;
    margin-bottom: 10px;
  }
  input.button {
    background-color: #4182d7;
    -webkit-box-shadow: 0px 5px 0px 0px #2c3e50;
    -moz-box-shadow: 0px 5px 0px 0px #2c3e50;
    box-shadow: 0px 5px 0px 0px #2c3e50;
    padding: 20px;
  }
  input.button:hover {
    background-color: #52b3d9;
  }
  .button {
    background-color: #e87e04;
    -webkit-box-shadow: 0px 5px 0px 0px #d35400;
    -moz-box-shadow: 0px 5px 0px 0px #d35400;
    box-shadow: 0px 5px 0px 0px #d35400;
    padding: 20px 0;
  }
  .button:hover {
    background-color: #eb9532;
    text-decoration: none;
  }
  .button,
  input.button {
    border: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin: 20px 0;
  }
  .humongous-form {
    padding: 40px;
    font-size: 2em;
  }
  .humongous-btn {
    padding: 30px;
    font-size: 23px;
    line-height: 0.9em;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #back {
    margin-left: 5.5%;
  }
  .button,
  input.button {
    width: 45%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #back {
    margin-left: 30%;
  }
  .button,
  input.button {
    width: 48%;
  }
  input.humongous-form {
    padding: 40px;
    font-size: 2em;
  }
  input.humongous-btn {
    padding: 30px;
    font-size: 23px;
    line-height: 0.9em;
  }
}
/* Large Devices, Wide Screens */
