<% if scriptExists %>
	<% if scriptExists.style == "checkout" %>
	<%= link_to('Schema Options', {:controller => 'schema', :action => 'index'} , :class => 'button pull-left') %>
		<%= link_to('Disable Reviews', {:action => 'delete', :id => id} , :class => 'button pull-right') %>
	<% elsif scriptExists.style == "css" %>
		<%= link_to('Schema Themes Option', {:controller => 'schema', :action => 'index'} , :class => 'button pull-left') %>
	<% end %>
<% end %>