<% if script.style == "checkout" %>
	<%= link_to('Disable Reviews', {:action => 'delete', :id => id} , :class => 'button pull-right') %>
	<%= form_for(:home, :url => {:action => "activate"}) do |a| %>
        <%= submit_tag("Activate Schema",:class => "button pull-left") %>
    <% end %>
<% end %>

<% if script.style == "schema" %>
<div class="row">
	<div class="col-md-8 col-md-offset-4">
		<%= link_to('Disable Schema', {:action => 'delete', :id => id} , :class => 'button pull-left') %>
	</div>
</div>
	
<% end %>